* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #33b667;
  height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.375rem;
}
